<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <!-- <script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
    <script>paypal.Buttons().render('body');</script> -->
    <style>
        .heading {
            height: 100%;
            color: #FFCB05;
            border: 1px solid;
            padding: 10px;
            box-shadow: 5px 5px #FFCB05;
            text-align: center;


        }

        .background {
            background-color: #00274C;
            margin-top: 70%
        }
    </style>

</head>

<body class="background">
    <!-- <h1>Paypal</h1> -->
    <h1 class="heading">Please wait...</h1>
    <form name="f1" action="/paypal" method="POST">
        
        <!-- <button type="submit">Pay</button> -->
    </form>
</body>
<!-- <script>
    function sub(obj) {

        console.log(obj,"**********************")
        // fetch("http://192.168.100.146:3000/paypal", {
        //     method: "POST", body: JSON.stringify({ obj }),
        //     headers: {
        //         "Content-Type": "application/json"
        //     }
        // }).then(()=>{
            
        // })
    }
</script> -->

</html>