<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>TransactionError</title>
        <style>
                .heading {
                    height: 100%;
                    color: #e72929;
                    border: 1px solid;
                    padding: 10px;
                    box-shadow: 5px 5px #e72929;
                    text-align: center;
                  
                  
                }
                .background{
                    background-color: #00274C;
                    margin-top: 70%
               
                }
            </style>
    </head>
    <body class="background">
        <h1 class="heading">Transaction Error!</h1>
    </body>
</html>
